@media screen and (max-width:550px){
.container__articles{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

.articles__others{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    margin-left: 20px;
}
}